﻿body {
    background-color: rgb(0, 121, 191);
    margin: 0;
    font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
}

.header {
    background-color: #0067A3;
    padding: 10px;
    text-align: center;
}

.header-title {
    margin: 0;
    color: white;
    display: inline-block;
}

.list-title {
    margin: 5px 0 5px 20px;
    color: white;
}

.list {
    width: 300px;
    height: 450px;
    background-color: #bbb;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.list-item p {
    margin: 0;
    padding: 10px;
}

.list-item {
    height: 75px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
}

.menu {
    display: inline-block;
}

.menu-item {
    display: inline-block;
}

.menu-item a {
    color: white;
    text-decoration: none;
    background-color: #4D95BF;
    padding: 10px;
}

.menu-item:hover a {
    background-color: white;
    color: black;
}

/*li {
    color: #00ff21;
    background-color: #000000;
    margin: 10px;
    padding: 10px;
}*/

.random-div {
    width: 200px;
    height: 200px;
    border: 1px solid #f15858;
    margin: 20px;
    display: inline-block;
}

/*p {
    background: white;
    text-align: left;
}*/

.row {
}

.row div {
    height: 80px;
    margin-top: 15px;
}

.inner-div {
    padding: 5px;
    height: auto;
    width: auto;
    background-color: #ccc;
}

#special {
    color: purple;
}